{% extends '/partials/main.twig' %}
{% block body %}

<section id="passwords">
	<div class="container">
		<div class="row center-xs center-sm center-md center-lg left-text">
			<div class="col-xs-11 col-sm-11 col-md-10 col-lg-10">

				<table>

					<tr>
						<th>Nickname</th>
						<th>Login ID</th>
						<th>Password (Decrypted)</th>
						<th>Link</th>
						<th>Status</th>
					</tr>

					{% for credential in credentials %}
					<tr>
						<td>{{ credential.nickname }}</td>
						<td>{{ credential.loginid }}</td>
						<td>{{ credential.dec_password }}</td>
						<td><a target="_blank" href="{{ credential.loginlink }}">{{ credential.loginlink }}</a></td>
						<td>Compliant</td>
					</tr>
					{% endfor %}
				</table>

			</div>
		</div>
	</div>
</section>
{% endblock %}